body{
font-family: Arial, sans-serif;
margin:0;
background:#f2f7f2;
}

header{
background:#2e8b57;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.conteudo{
max-width:900px;
margin:auto;
padding:20px;
}

.imagens{
display:flex;
gap:10px;
flex-wrap:wrap;
justify-content:center;
}

.imagens img{
width:280px;
border-radius:8px;
}

ul{
line-height:1.8;
}

.botao{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#2e8b57;
color:white;
text-decoration:none;
border-radius:6px;
}

.botao:hover{
background:#246b45;
}

footer{
text-align:center;
padding:15px;
background:#ddd;
margin-top:20px;
}
